.git
node_modules
**/node_modules
.nuxt
**/.nuxt
.output
**/.output
.data
**/.data
.cache
**/.cache
coverage
**/coverage
models
indexes
.env
**/.env
**/.env.*
!.env.example
**/!.env.example
*.log
.DS_Store
data/dataset
.docker-home
github_gem_token.txt
