NUXT_RETRIEVAL_BASE_URL=http://127.0.0.1:8000
NUXT_PUBLIC_SCAN_MODE=mock
NUXT_PUBLIC_ASTRO_ENABLED=true

VINLOG_UID=1000
VINLOG_GID=1000
GITHUB_GEM_TOKEN_PATH=./github_gem_token.txt
VINLOG_DB_PASSWORD=vinolog
VINLOG_DB_PORT=5433
